Source: imagedownloader
Section: utils
Priority: extra
Maintainer: Lorenzo Carbonell Cerezo <lorenzo.carbonell.cerezo@gmail.com>
Build-Depends: debhelper (>= 9)
Standards-Version: 3.9.4
Homepage: http://www.atareao.es

Package: imagedownloader
Architecture: all
Depends: ${misc:Depends}, ${python:Depends}, 
	gir1.2-gtk-3.0
Description: Application to download images from a web site
 imagedownloader is a simple application to download all images from a web page
